<nav>
    <ul>
        <li><a href="#" data-title="works"><span>works</span></a>
            <ul class="sub-menu">


                {% for post in site.posts %}
                <li><a href="{{ post.url }}" data-type="project"
                        data-title="{{ post.title }}"><span>{{ post.title }}</span></a></li>
                {% endfor %}
                <!-- <li><a href="https://reyer.com/Las-Hustlerboy/" data-type="project"
                        data-title="Las Hustlerboy"><span>Las Hustlerboy (2025)</span></a></li>
                <li><a href="https://reyer.com/Afterglowing/" data-type="project"
                        data-title="Afterglowing"><span>Afterglowing (2024)</span></a></li>
                <li><a href="https://reyer.com/Cheap-Shadow-Dream-Shop/" data-type="project"
                        data-title="Cheap Shadow Dream Shop (2024)"><span>Cheap Shadow Dream Shop (2024)</span></a>
                </li>
                <li><a href="https://reyer.com/Noisy-Organs" data-type="project"
                        data-title="Noisy Organs"><span>Noisy Organs (2023)</span></a></li>
                <li><a href="https://reyer.com/Silent-Barks-HotDog-Anarchives/" data-type="project"
                        data-title="Silent Barks, HotDog Anarchives"><span>Silent Barks, HotDog Anarchives
                            (2022)</span></a></li> -->
            </ul>
        </li>
        {% for item in site.data.navigation %}
        <!-- <li><a href="https://reyer.com/archive/" data-type="page" data-title="archive"><span>gallery</span></a></li> -->
        <li><a href="{{ item.link }}" {% if page.url == item.link %} class="current" data-type="page" data-title="{{ item.name }}"{% endif %}><span>{{ item.name }}</span></a></li>
        {% endfor %}
        <!-- <li><a href="https://reyer.com/dates/" data-type="page" data-title="dates"><span>dates</span></a></li>
        <li><a href="info.html" data-type="page" data-title="info"><span>info</span></a></li> -->

    </ul>
</nav>
