* {
    box-sizing: border-box
}

h2,
p.future {
    color: violet;
}

h3 {
    font-size: 25px;
    margin-bottom: 0;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.columns>* {
    width: 100%;
    padding: .5rem;
}

@media (min-width:768px) {
    .columns>* {
        width: 50%;
    }
}

img {
    vertical-align: middle;
    max-width: 70vw;

    @media (min-width:768px) {
        max-width: 43vw;
    }
}

@media(min-width:768px) {

    p:first-child {
        margin-top: 0;
    }

    footer p:first-child {
        margin-top: 0;
    }
}