* {
    box-sizing: border-box
}

h2,
p.future {
    color: violet;
}

h3 {
    font-size: 25px;
    margin-bottom: 0;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.columns>* {
    width: 100%;
}

@media (min-width:768px) {
    .columns>* {
        padding-top: 4px;
        width: 50%;
    }

    h2 {
        margin-top: 0;
        line-height: .8em;
    }
}

img {
    vertical-align: middle;
    max-width: 70vw;

    @media (min-width:768px) {
        max-width: 43vw;
    }
}

@media(min-width:768px) {
    footer p:first-child {
        margin-top: 0;
    }
}