<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% include head.html %}
        {% if page.home_variable %}
        {% include {{ page.home_variable }} %}
        {% endif %}
        {% if layout.post_variable %}
        {% include {{ layout.post_variable }} %}
        {% endif %}
    </head>    
    <body>
        {% include header.html %}
        {% if page.my_variable %}
        {% include {{ page.my_variable }} %}
        {% endif %}
        <main role="main">
        {{ content }}
        </main>
    </body>
</html>